version: "3.9"
services:

  api:
    build:
      context: .
      dockerfile: compose/local/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./:/code:cached
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/test_db
    networks:
      - my_shared_network

  postgres:
    image: postgres:13.4
    container_name: postgres-test
    volumes:
      - pg-data-test:/var/lib/postgresql/data/pgdata
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_db
      - DATABASE_HOST=postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    networks:
      - my_shared_network


volumes:
  pg-data-test: {}

networks:
  my_shared_network:
    external: true
